{{#if image1}}
  <a href="{{image1}}" class="hfc-gallery-image" style="background-image: url({{image1}})"></a>
{{else}}
  <a href="images/placeholder1.png}" class="hfc-gallery-image" style="background-image: url(images/placeholder1.png)"></a>
{{/if}}

{{#if image2}}
  <a href="{{image2}}" class="hfc-gallery-image" style="background-image: url({{image2}})"></a>
{{else}}
  <a href="images/placeholder2.png" class="hfc-gallery-image" style="background-image: url(images/placeholder2.png)"></a>
{{/if}}

{{#if image3}}
  <a href="{{image3}}" class="hfc-gallery-image" style="background-image: url({{image3}})"></a>
{{else}}
  <a href="images/placeholder3.png" class="hfc-gallery-image" style="background-image: url(images/placeholder3.png)"></a>
{{/if}}

{{#if image4}}
  <a href="{{image4}}" class="hfc-gallery-image" style="background-image: url({{image4}})"></a>
{{else}}
  <a href="images/placeholder1.png}" class="hfc-gallery-image" style="background-image: url(images/placeholder1.png)"></a>
{{/if}}

{{#if image5}}
  <a href="{{image5}}" class="hfc-gallery-image" style="background-image: url({{image5}})"></a>
{{else}}
  <a href="images/placeholder2.png" class="hfc-gallery-image" style="background-image: url(images/placeholder2.png)"></a>
{{/if}}

{{#if image6}}
  <a href="{{image6}}" class="hfc-gallery-image" style="background-image: url({{image6}})"></a>
{{else}}
  <a href="images/placeholder3.png" class="hfc-gallery-image" style="background-image: url(images/placeholder3.png)"></a>
{{/if}}