{{#if image1}}
  <a href="assets/{{image1}}" class="hfc-gallery-image" style="background-image: url(assets/{{image1}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder1.png}" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder1.png)" target="_blank"></a>
{{/if}}

{{#if image2}}
  <a href="assets/{{image2}}" class="hfc-gallery-image" style="background-image: url(assets/{{image2}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder2.png" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder2.png)" target="_blank"></a>
{{/if}}

{{#if image3}}
  <a href="assets/{{image3}}" class="hfc-gallery-image" style="background-image: url(assets/{{image3}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder3.png" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder3.png)" target="_blank"></a>
{{/if}}

{{#if image4}}
  <a href="assets/{{image4}}" class="hfc-gallery-image" style="background-image: url(assets/{{image4}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder1.png}" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder1.png)" target="_blank"></a>
{{/if}}

{{#if image5}}
  <a href="assets/{{image5}}" class="hfc-gallery-image" style="background-image: url(assets/{{image5}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder2.png" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder2.png)" target="_blank"></a>
{{/if}}

{{#if image6}}
  <a href="assets/{{image6}}" class="hfc-gallery-image" style="background-image: url(assets/{{image6}})" target="_blank"></a>
{{else}}
  <a href="assets/images/placeholder3.png" class="hfc-gallery-image" style="background-image: url(assets/images/placeholder3.png)" target="_blank"></a>
{{/if}}