<h1>Headline</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{{!-- Teaser Triple --}}
{{hfc-teaser-triple title="Triple Teaser 1" content="" image="images/placeholder1.png" link="/"}}
{{hfc-teaser-triple title="Triple Teaser 2" content="" image="images/placeholder2.png" link="/"}}
{{hfc-teaser-triple title="Triple Teaser 3" content="" image="images/placeholder3.png" link="/"}}

{{!-- Teaser Single --}}
{{hfc-teaser-single title="Single Teaser 1" content="" image="images/placeholder1.png" link="/"}}
{{hfc-teaser-single title="Single Teaser 2" content="" image="images/placeholder2.png" link="/"}}
{{hfc-teaser-single title="Single Teaser 3" content="" image="images/placeholder3.png" link="/"}}
{{!-- Teaser Single - w model layer--}}
{{!-- {{#each teaserData as |teaser| }}
  {{hfc-teaser-single teaserData=teaser}}
{{/each}} --}}

{{!-- Teaser Double --}}
{{hfc-teaser-double title="Double Teaser 1" content="" image="images/placeholder1.png" link="/"}}
{{hfc-teaser-double title="Double Teaser 2" content="" image="images/placeholder2.png" link="/"}}
{{hfc-teaser-double title="Double Teaser 3" content="" image="images/placeholder3.png" link="/"}}
{{hfc-teaser-double title="Double Teaser 4" content="" image="images/placeholder4.png" link="/"}}
