<nav class="nav-main-container">
  {{!-- Logo --}}
  {{app-logo}}

  {{!-- Mobile Navigation Icon --}}
  <div class="nav-main-mobile-icon {{if isOpen 'is-open'}}" {{action "toggleNavigation"}}></div>

  {{!-- Navigation --}}
  <ul id="nav-main" class="sm nav-main-theme {{if isOpen 'is-open'}}">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'page-news'}}News{{/link-to}}</li>
    <li>{{#link-to 'page-contact'}}Contact{{/link-to}}</li>
  </ul>
</nav>

{{!-- Mobile Navigation Dimmer --}}
<div class="nav-main-mobile-dimmer {{if isOpen 'is-open'}}" {{action "toggleNavigation"}}></div>
