<!-- Name -->
{{hfc-form.hfc-form-input label="Input" placeholder="Input"}}
{{hfc-form.hfc-form-input label="Input" placeholder="Input"}}
{{hfc-form.hfc-form-input label="Input" placeholder="Input"}}
{{hfc-form.hfc-form-textarea label="Textarea" placeholder="Textarea"}}

<hr>

<!-- Checkboxes -->
<h4>Checkboxes</h4>
{{hfc-form.hfc-form-checkbox}}
{{hfc-form.hfc-form-checkbox}}
{{hfc-form.hfc-form-checkbox}}

<hr>

<!-- Radiobuttons -->
<h4>Radiobuttons</h4>
{{hfc-form.hfc-form-radiobutton}}
{{hfc-form.hfc-form-radiobutton}}
{{hfc-form.hfc-form-radiobutton}}

<hr>

<!-- Controls -->
<div class="hfc-form-controls">
  <input class="hfc-form-submit" type="submit" value="Senden" />
</div>
