<div class="download-container">
  <div class="download-container-inner">
    {{!-- Title --}}
    <h4 class="download-title">
      <span class="download-type">{{#if type}}{{type}}{{else}}PDF{{/if}}</span>
      {{#if title}}{{title}}{{else}}Titel des Downloads{{/if}}
    </h4>
    {{!-- Content --}}
    {{#if content}}
      {{#if (eq content "lorem")}}
        <p class="download-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat exercitationem illo commodi debitis, autem, dignissimos quo minus consequuntur id dolor deserunt cumque dolorem.</p>
      {{else}}
        <p class="download-content">{{content}}</p>
      {{/if}}
    {{/if}}
  </div>
  <div class="download-controls">
    <div class="download-size">{{#if size}}{{size}}{{else}}125kb{{/if}}</div>
    {{!-- Link --}}
    {{#if link}}
      <a class="download-link" href="assets/{{link}}" target="_blank">Download</a>
    {{else}}
      <a class="download-link" href="assets/other/placeholder.pdf" target="_blank">Download</a>
    {{/if}}
  </div>
</div>
