<section class="teaser-container">

  {{!-- Title --}}
  {{#if _title}}
    <a href="{{_link}}" class="teaser-title">{{_title}}</a>
  {{/if}}

  {{!-- Image --}}
  {{#if _image}}
    <a href="{{_link}}" class="teaser-image" style="background-image: url({{_image}})"></a>
  {{else}}
    <a href="{{_link}}" class="teaser-image" style="background-image: url(images/placeholder1.png)"></a>
  {{/if}}

  {{!-- Content --}}
  <p class="teaser-content">
  {{#if _content}}
      {{_content}}
  {{else}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nam officia quam modi, facilis fugiat illo commodi debitis.
  {{/if}}
  </p>

  {{!-- Link --}}
  <a href="{{_link}}" class="teaser-link">Weiterlesen</a>

</section>
