<section class="app-content-container">
  <div class="app-content-inner">
    {{app-breadcrumb}}
    {{outlet}}
  </div>
  <div class="app-content-aside">
    {{#hfc-infobox title="Sidebar Liste"}}
      {{hfc-infobox.hfc-infobox-list}}
    {{/hfc-infobox}}

    {{#hfc-infobox title="Infobox"}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laudantium voluptatibus dolorum nemo!</p>
    {{/hfc-infobox}}

    {{#hfc-infobox title="Infobox"}}
      <img class="hfc-infobox-image" src="assets/images/placeholder4.png" alt="">
      <p>Lorem ipsum dolor sit amet isal lora, consectetur adipisicing elit.</p>
      <hr>
      <a href="#" class="hfc-infobox-link">Kontakt</a>
    {{/hfc-infobox}}

    {{#hfc-infobox title="Sidebar Downloads"}}
      {{hfc-infobox.hfc-infobox-downloads}}
    {{/hfc-infobox}}

    {{#hfc-infobox title="Kontakt"}}
      {{hfc-infobox.hfc-infobox-contact}}
    {{/hfc-infobox}}
  </div>
</section>